@import "tailwindcss";
.scrollable-x {
  overflow-x: scroll;

body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  scroll-behavior: smooth; 
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #0058ab;
}
